@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  @apply bg-red-500;
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: 75px;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #007bff, #ffffff);
}

.search-area {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 60px;
}

.search-area input {
  display: flex;
  width: 400px;
  height: 80px;
  font-size: 20px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 25px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
}

.five-day-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
